
*.~10~
*.~11~
*.~14~
*.~16~
*.~17~
*.~19~
*.~1~
*.~20~
*.~2~
*.~15~
*.~13~
*.~21~
*.~3~
*.~3~
*.~5~
*.~22~
*.~12~
*.~8~
*.~49~
*.~50~
*.~53~
*.~55~
*.~52~
__history/Principal.fmx.~18~
__history/Principal.fmx.~4~
__history/Principal.fmx.~6~
__history/Principal.fmx.~7~
__history/Principal.fmx.~9~
__history/Principal.pas.~51~
__history/Principal.pas.~54~
__history/Principal.pas.~56~
__history/Principal.pas.~57~
__history/Principal.pas.~58~
__history/Principal.pas.~59~
__history/Principal.pas.~60~
__history/Principal.pas.~61~
__history/Principal.pas.~62~
__history/Principal.pas.~63~
__history/Principal.pas.~64~
__history/Principal.pas.~65~
__history/Principal.pas.~66~
__history/Principal.pas.~67~
__history/Principal.pas.~68~
__history/Principal.pas.~69~
__history/Principal.pas.~70~
__history/Principal.pas.~71~
__history/Principal.pas.~72~
__history/Principal.pas.~73~
__history/Principal.pas.~74~
__history/Principal.pas.~75~
__history/Principal.pas.~76~
__history/Principal.pas.~77~
__history/Principal.pas.~78~
Win32/Debug/Parametros.dcu
Win32/Debug/Principal.dcu
Win64/Debug/DataSyn.rsm
Win64/Debug/Parametros.dcu
Win64/Debug/Principal.dcu
