
*.~10~
*.~11~
*.~14~
*.~16~
*.~17~
*.~19~
*.~1~
*.~20~
*.~2~
*.~15~
*.~13~
*.~21~
*.~3~
*.~3~
*.~5~
*.~22~
*.~12~
*.~8~
*.~49~
*.~50~
*.~53~
*.~55~
*.~52~
__history/Principal.fmx.~18~
__history/
__recovery/
Win32/
__history/Principal.fmx.~4~
__history/Principal.fmx.~6~
__history/Principal.fmx.~7~
__history/Principal.fmx.~9~
__history/Principal.pas.~51~
__history/Principal.pas.~54~
__history/Principal.pas.~56~
__history/Principal.pas.~57~
__history/Principal.pas.~58~
__history/Principal.pas.~59~
__history/Principal.pas.~60~
__history/Principal.pas.~61~
__history/Principal.pas.~62~
__history/Principal.pas.~63~
__history/Principal.pas.~64~
__history/Principal.pas.~65~
__history/Principal.pas.~66~
__history/Principal.pas.~67~
__history/Principal.pas.~68~
__history/Principal.pas.~69~
__history/Principal.pas.~70~
__history/Principal.pas.~71~
__history/Principal.pas.~72~
__history/Principal.pas.~73~
__history/Principal.pas.~74~
__history/Principal.pas.~75~
__history/Principal.pas.~76~
__history/Principal.pas.~77~
__history/Principal.pas.~78~
Win32/Debug/Parametros.dcu
Win32/Debug/Principal.dcu
Win64/Debug/DataSyn.rsm
Win64/Debug/Parametros.dcu
Win64/Debug/Principal.dcu
__history/Principal.fmx.~23~
__history/Principal.fmx.~24~
__history/Principal.fmx.~25~
__history/Principal.fmx.~26~
__history/Principal.fmx.~27~
__history/Principal.fmx.~28~
__history/Principal.fmx.~29~
__history/Principal.fmx.~30~
__history/Principal.fmx.~31~
__history/Principal.pas.~100~
__history/Principal.pas.~101~
__history/Principal.pas.~102~
__history/Principal.pas.~79~
__history/Principal.pas.~80~
__history/Principal.pas.~81~
__history/Principal.pas.~82~
__history/Principal.pas.~83~
__history/Principal.pas.~84~
__history/Principal.pas.~85~
__history/Principal.pas.~86~
__history/Principal.pas.~87~
__history/Principal.pas.~88~
__history/Principal.pas.~89~
__history/Principal.pas.~90~
__history/Principal.pas.~91~
__history/Principal.pas.~92~
__history/Principal.pas.~93~
__history/Principal.pas.~94~
__history/Principal.pas.~95~
__history/Principal.pas.~96~
__history/Principal.pas.~97~
__history/Principal.pas.~98~
__history/Principal.pas.~99~
__history/Parametros.pas.~4~
__history/Principal.fmx.~32~
__history/Principal.fmx.~33~
__history/Principal.fmx.~34~
__history/Principal.fmx.~35~
__history/Principal.fmx.~36~
__history/Principal.fmx.~37~
__history/Principal.fmx.~38~
__history/Principal.fmx.~39~
__history/Principal.fmx.~40~
__history/Principal.pas.~103~
__history/Principal.pas.~104~
__history/Principal.pas.~105~
__history/Principal.pas.~106~
__history/Principal.pas.~107~
__history/Principal.pas.~108~
__history/Principal.pas.~109~
__history/Principal.pas.~110~
__history/Principal.pas.~111~
__history/Principal.pas.~112~
__history/Principal.pas.~113~
__history/Principal.pas.~114~
__history/Principal.pas.~115~
__history/Principal.pas.~116~
__history/Principal.pas.~117~
__history/Principal.pas.~118~
__history/Principal.pas.~119~
__history/Principal.pas.~120~
__history/Principal.pas.~121~
__history/Principal.pas.~122~
__history/Principal.pas.~123~
__history/Principal.pas.~124~
*.dcu
*.dcu
__history/Parametros.fmx.~4~
__history/Principal.fmx.~41~
__history/Principal.fmx.~42~
__history/Principal.fmx.~43~
__history/Principal.fmx.~44~
__history/Principal.fmx.~45~
__history/Principal.fmx.~46~
__history/Principal.fmx.~47~
__history/Principal.fmx.~48~
__history/Principal.fmx.~51~
__history/Principal.fmx.~54~
__history/Principal.fmx.~56~
__history/Principal.fmx.~57~
__history/Principal.fmx.~58~
__history/Principal.fmx.~59~
__history/Principal.fmx.~60~
__history/Principal.fmx.~61~
__history/Principal.fmx.~62~
__history/Principal.fmx.~63~
__history/Principal.fmx.~64~
__history/Principal.fmx.~65~
__history/Principal.fmx.~66~
__history/Principal.fmx.~67~
__history/Principal.fmx.~68~
__history/Principal.LgXhdpiPh.fmx.~4~
__history/Principal.LgXhdpiPh.fmx.~6~
__history/Principal.pas.~150~
__history/Principal.pas.~151~
__history/Principal.pas.~152~
__history/Principal.pas.~153~
__history/Principal.pas.~154~
__history/Principal.pas.~155~
__history/Principal.pas.~156~
__history/Principal.pas.~157~
__history/Principal.pas.~158~
__history/Principal.pas.~159~
__history/Principal.pas.~160~
__history/Principal.pas.~161~
__history/Principal.pas.~162~
__history/Principal.pas.~163~
__history/Principal.pas.~164~
__history/Principal.pas.~165~
__history/Principal.pas.~166~
__history/Principal.pas.~167~
__history/Principal.pas.~168~
__history/Principal.pas.~169~
__history/Principal.pas.~170~
__history/Principal.pas.~171~
__history/Principal.pas.~172~
__history/Principal.pas.~173~
__history/Principal.pas.~174~
__history/Principal.pas.~175~
__history/Principal.pas.~176~
__history/Principal.pas.~177~
__history/Principal.pas.~178~
__history/Principal.pas.~179~
__history/Principal.Windows.fmx.~4~
*.dcu
__history/Parametros.fmx.~6~
__history/Principal.fmx.~100~
__history/Principal.fmx.~101~
__history/Principal.fmx.~102~
__history/Principal.fmx.~103~
__history/Principal.fmx.~104~
__history/Principal.fmx.~105~
__history/Principal.fmx.~106~
__history/Principal.fmx.~107~
__history/Principal.fmx.~108~
__history/Principal.fmx.~109~
__history/Principal.fmx.~110~
__history/Principal.fmx.~111~
__history/Principal.fmx.~112~
__history/Principal.fmx.~113~
__history/Principal.fmx.~84~
__history/Principal.fmx.~85~
__history/Principal.fmx.~86~
__history/Principal.fmx.~87~
__history/Principal.fmx.~88~
__history/Principal.fmx.~89~
__history/Principal.fmx.~90~
__history/Principal.fmx.~91~
__history/Principal.fmx.~92~
__history/Principal.fmx.~93~
__history/Principal.fmx.~94~
__history/Principal.fmx.~95~
__history/Principal.fmx.~96~
__history/Principal.fmx.~97~
__history/Principal.fmx.~98~
__history/Principal.fmx.~99~
__history/Principal.LgXhdpiPh.fmx.~7~
__history/Principal.LgXhdpiPh.fmx.~9~
__history/Principal.pas.~288~
__history/Principal.pas.~289~
__history/Principal.pas.~290~
__history/Principal.pas.~291~
__history/Principal.pas.~292~
__history/Principal.pas.~293~
__history/Principal.pas.~294~
__history/Principal.pas.~295~
__history/Principal.pas.~296~
__history/Principal.pas.~297~
__history/Principal.pas.~298~
__history/Principal.pas.~299~
__history/Principal.pas.~300~
__history/Principal.pas.~301~
__history/Principal.pas.~302~
__history/Principal.pas.~303~
__history/Principal.pas.~304~
__history/Principal.pas.~305~
__history/Principal.pas.~306~
__history/Principal.pas.~307~
__history/Principal.pas.~308~
__history/Principal.pas.~309~
__history/Principal.pas.~310~
__history/Principal.pas.~311~
__history/Principal.pas.~312~
__history/Principal.pas.~313~
__history/Principal.pas.~314~
__history/Principal.pas.~315~
__history/Principal.pas.~316~
__history/Principal.pas.~317~
__history/Principal.Windows.fmx.~6~
__history/Principal.Windows.fmx.~7~
Android/Debug/DataSyn/bin/DataSyn.apk
Android/Debug/DataSyn/debug/libDataSyn.so
Android/Debug/DataSyn/library/lib/armeabi-v7a/libDataSyn.so
Android/Debug/libDataSyn.so
Android/Debug/Principal.o
Win32/Debug/Parametros.dcu
Win32/Debug/Principal.dcu
*.dcu
Win32/Debug/Parametros.dcu
Win32/Debug/Principal.dcu
